/* Created by Naim Hakeem */

/*
    This is the main body of the gui, font is set up with no tails(serif)
    Have a default abstract image taken from the images folder
*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/mountain.jpg");

/*
    Create a buffer for the information & tables to be displayed correctly (in an even manner) and not flush to the top or bottom
*/
}
.filler {
    height: 300px;
}
.filler img {
    padding: 0;
    margin: 0;
    position: relative;
    bottom: 50px;
}
.wrapper {
    margin: auto;
}
.form-wrapper {
}
.input-instruction{
    margin-top:0;
    margin-bottom:0;
    color: gray;
    font-style: italic;
    font-size: 13px
}

.input-instruction2{
    margin-top:1;
    margin-bottom:auto;
    color: gray;
    font-style: italic;
    font-size: 13px
}

.input-instruction3{
    margin-top:0;
    margin-left:-15%;
    margin-bottom:auto;
    color: gray;
    font-style: italic;
    font-size: 13px
}

.input-instruction4{
    margin-top:0.5;
    margin-left:0;
    margin-bottom:auto;
    color: gray;
    font-style: italic;
    font-size: 13px
}

.form-scan {
    width: 60%;
    margin: auto;
}


.form-scan2 {
    width: 60%;
    margin-left:38%;
}

.form-scan3 {
    width: 60%;
    margin-left:38%;
}

.form-query {
    width: 60%;
    margin: auto;
}

.form-query2 {
    width: 60%;
    margin-left:42%;
}

#queryForm input{
    width:150%;
    margin-left: auto;
    margin-top:3%;
    margin-bottom:-7%;
}
form {
    float: left;

/*
    Text when user inputs it; white color, has font size and type along with a dark gray background set at 80% opacity
*/   
}
input[type=text] {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: rgba(45, 45, 45, .65);
    color: rgb(255, 255, 255);
    border-color: rgb(43, 173, 69);
    float: left;
    border-radius: 5px;
}
input[type=submit] {
    visibility: hidden;
    border-radius: 5px;
    width: 30px;
}

/*  
    Table header - the top line on the table
*/
th {
    color: rgba(255, 255, 255, .8);
}

/*
    Table dom - original color of text in the rows (and height) in the table
*/
td {
    height: 40px;
    color: rgb(245, 245, 245);
}

/*
    Table row - rows in the table to be offset a different color if even (dark green ones)  
*/
tr:nth-child(even) {
    background-color: rgba(0, 130, 71, .8);
}

/*
    Once you see what ports are open, it displayes them within the table (gray with 80% opacity)
*/
.result {
    border-radius: 5px;
    margin: auto;
    width: 85%;
    background-color: rgba(45, 45, 45, .8);
    margin-top: 40px;
}
.result table {
    width: 100%;
    table-layout: fixed;
    text-align: left;
    border-collapse: collapse;
}
.inner_table {
    height: 500px;
    overflow-y: auto;
}

/*
    Lists IPs that are being scanned (top right of screen) text is set at red with the background the same gray
*/
.scanningdiv {
    overflow-y: auto;
    height:75%;
    width: 15%;
    background-color: rgba(45, 45, 45, .75);
    float:right;
    float:top;
    border-radius: 5px;
    margin-right:20%;
    margin-top:3%;
    text-align: center;
    color: rgb(255, 255, 255);
}

/*
    The header to the IPs that are scanned
*/
.scanning {    
    float: left;
    margin-left: 18%;
    color: rgb(58, 255, 97);
}

/*
    Adds a buffer to the top of the scanner
*/
.scanningtitle {
    margin-top: 10px;
}


/*
    Adds a loading animation
*/

#loader{
    float:left;
    margin-left: 5%;
}
.loader {
    border: 3px solid #1e2820;
    border-top: 3px solid #2edb50;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    animation: spin .5s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}