<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/gmap.css') }}">
    <!--The src attribute specifies the URL of an external script file-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
</head>
<body>
            <!-- <img src="../static/images/logo.png"> -->

<div class="tab">
 <button class="tablinks" onclick="openButton(event, 'table')">Table</button>
 <button class="tablinks" onclick="openButton(event, 'graph')">Graph</button>
 <button class="tablinks" onclick="openButton(event, 'notes')">Notes</button>
</div>
<!-- ///////////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////////// -->
<div id="table" class="tabcontent">
    <span onclick="this.parentElement.style.display='none'" class="topright" id="tableClose">x</span>
    <div class="container">
      <div class="wrapper">
        <div class="filler">
          <!-- the code below is the Table header/title-->
          <div id="scanningdiv" class="scanningdiv">
            <div><th class="scanningtitle">IPs currently being scanned:</th></div>
              <div id="loader"></div>
              <div id="scanning" class="scanning"> 
              	<!--  -->

              	<!--  -->
              </div>
          </div>
        </div>
        <!-- this is the input field of the code, the two classes below is in dicating the input field and search
        button. for the first class youo enter the IP that you want to search for and hit search. and, t=for the 
        second class you are searching for a specific query then search. -->
        <div class="form-wapper"> 
          <div class="form-scan">
            <form action="/scan">
            <input type="text" name="ip" placeholder="Enter IP">
            <input type="submit" value="Search">
            </form>   
          </div>
          <br><br>

          <div class="form-query">
            <form action="/query" id="queryForm">
            <input type="text" name="q" placeholder="Enter query">
            <input type="submit" value="Search">
              <p class="input-instruction">Enter an ip, port number, service name, or service version. Enter * for all information</p>

            </form>
          </div>
        </div>
        <br><br>
        
        <!--the bottom lines of code displays the result of the searched IP or Query in formating under the 
        fields of IP, Port, Services and Version.-->    
        <div id="result" class="result">
          <table class="head">
            <thead>
              <tr>
                <th>IP</th>
                <th>Port</th>
                <th>Service</th>
                <th>Version</th>
              </tr>
            </thead>
          </table>
          <!--The code below is is to organize the code under its specific description. All IPs is 
          displayed under the item.IP and So on. item is an object and Ip is varialble inside the item -->
          <div class="inner_table">
            <table>
              <tbody>
                {% for item in table %}
                  <tr>
                    <td>{{ item.ip }}</td>
                    <td>{{ item.port }}</td>
                    <td>{{ item.service }}</td>
                    <td>{{ item.version }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!--
    this code is a function that runs automatically every .5s. it uses an Ajax get request to call the /showque function
    on the server. the $.get('/showque') shows the list of IPs the user searches in a table. the data. = data.toString() 
    displays all the IP as a String, then the next line of code takes the IP at the end of each comma then it stacks the 
    IPs in order. getElementById is taking the list of IPs that has been searched and store in a div which is displayed on 
    the top right of the screen.
    --> 
      <script type = text/javascript>
      let checker = setInterval(function(){
        $.get('/showque', function(data, status){
          data = data.toString(); 
          data = data.replace(/,/g, "<br>");
          document.getElementById("scanning").innerHTML=data;
        })
        $.get('/isscanning', function(data, status){
        	if(data){
				document.getElementById("loader").innerHTML='<div class="loader"></div>';
        	}else{
				document.getElementById("loader").innerHTML=''
        	}
        // document.getElementById("scanning").innerHTML=data;
        })
      }, 500);


    </script>
</div>

<!-- ///////////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////////// -->
<div id="graph" class="tabcontent">
    <span onclick="this.parentElement.style.display='none'" class="topright" id = "graphClose">x</span>
    <h3> Graph </h3>
    <p>Add the graph input here.</p>
    
    <div class="form-wapper"> 
      <div class="form-scan">
        <form action="/graph" target="_blank">
        <input type="text" name="g" placeholder="Enter query">
        <input type="submit" value="Search">
        <p class="input-instruction">Enter an ip, port number, service name, or service version. Enter * for all information</p>
        </form>   
    </div>

	</div>
</div>
<!-- ///////////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////////// -->
<div id="notes" class="tabcontent">    
	<span onclick="this.parentElement.style.display='none'" class="topright" id = "notesClose">x</span>
    <h3> Notes </h3>
    <p>Add the notes input.</p>
            <div class="form-wapper"> 
          <div class="form-scan">
            <form action="/pwned">
            <input type="text" name="target" placeholder="Enter IP">
            <input type="submit" value="Search">
            <p>Enter an ip that has been pwned</p>
            </form>   
          </div>
          <br><br>
          <br><br>

          <div class="form-wapper"> 
          <div class="form-scan">
            <form action="/talking">
            <input type="text" name="target1" placeholder="Enter IP">
            <input type="submit" value="Search">
            <input type="text" name="target2" placeholder="Enter IP">
            <input type="submit" value="Search">
            <p>Enter two ips that comminicate with each other</p>
            </form>   
          </div>

    </div>
	</div>
</div>




<!-- <div id="notes" class="tabcontent">
    <span onclick="this.parentElement.style.display='none'" class="topright" id = "notesClose">x</span>
        <div class="form-wapper"> 
          <div class="form-scan">
            <form action="/scan">
            <input type="text" name="ip" placeholder="Enter IP">
            <input type="submit" value="Search">
            </form>   
          </div>
          <br><br>
          <div class="form-wapper"> 
          <div class="form-scan">
            <form action="/scan">
            <input type="text" name="ip" placeholder="Enter IP">
            <input type="submit" value="Search">
            </form>   
          </div>
          <br><br>
</div>
 -->
<script>
function openButton(evt, Tab) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(Tab).style.display = "block";
    evt.currentTarget.className += " active";
}

// Get the element with id="table" and click on it
document.getElementById("table").click();
document.getElementById("graphClose").click();
document.getElementById("notesClose").click();


</script>
</body>
</html>
